.navbar-pelada-finder {
  justify-content: space-between;
  background: white;
}

.navbar-pelada-finder .navbar-collapse {
  flex-grow: 0;
}

.navbar-pelada-finder .navbar-brand img {
  width: 300px;
}

.nav-link {
  font-family: "bebas neue";
  font-size: 20px;
}

// nav li:not(:last-child)::after {
//   content: " | ";
//   margin-right: 5px;
// }
