.navbar-pelada-finder {
  justify-content: space-between;
  background: white;
}

.navbar-pelada-finder .navbar-collapse {
  flex-grow: 0;
}

.navbar-pelada-finder .navbar-brand img {
  width: 300px;
}
